
@{
    ViewBag.Title = "AccountEmailConfirmation";
}

<h1>Account Email Confirmation</h1>

<div class="alert alert-success">
        <p>
            <strong>Success</strong> Confirmation email has been sent to you, <b> <a target="_blank" href="https://www.google.com">Go to your emails</a></b>
        </p>
</div>