@{
    /**/

    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-success">
        <p>
            Thank you for confirming your email. You are already logged  @Html.ActionLink("go to your page", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
}
else
{
    <div class="alert alert-success">
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
}

