
@{
    ViewBag.Title = "Guid";
}
<div style="margin-top: 5em;"></div>
<h2>Guid</h2>


<div class="">
    <ul>
        <li>
            <a href="#reg">First step of craeting a tutorial <strong>Go to your class room</strong></a>
            <img src="~/images/GuidImages/1step.PNG" />
        </li>


        <li>
            <a href="#log">Second step when you are in your class room <strong>Click create tutorial button</strong></a>
            <img src="~/images/GuidImages/2step.PNG" />
        </li>

        <li>
            <a href="#">third step, when you are in your class room you can create a tutorial without files or you can even upload file like pdf doc etc </a>

            <img src="~/images/GuidImages/3step.PNG" />
        </li>

        <li>
            <a href="#">step number 4 if you change tour mind you don't want to create a tutorial just <strong>Click cancel</strong></a>

            <img src="~/images/GuidImages/4step.PNG" />
        </li>

        <li>
            <a href="#">Step number 5 <strong>Fill the form with all the details to craete your tutorial</strong></a>
            <img src="~/images/GuidImages/5step.PNG" />
        </li>

        <li>
            <a href="#">step 6</a>

            <img src="~/images/GuidImages/6steps.PNG" />
        </li>

        <li>
            <a href="#">step 7</a>
            <img src="~/images/GuidImages/7step.PNG" />
        </li>

        <li>
            <a href="#">stem 8</a>
            <img src="~/images/GuidImages/8step.PNG" />
        </li>

        <li>
            <a href="#">step 9</a>
            <img src="~/images/GuidImages/9step.PNG" />
        </li>

        <li>
            <a href="#">step 10</a>
            <img src="~/images/GuidImages/10step.PNG" />
        </li>

        <li>
            <a href="#">step 11</a>
            <img src="~/images/GuidImages/11step.PNG" />
        </li>
        <li>
            <a href="#">step 12</a>
            <img src="~/images/GuidImages/12step.PNG" />
        </li>
        <li>
            <a href="#">step 13</a>

            <img src="~/images/GuidImages/13step.PNG" />
        </li>
    </ul>
    </div>
