@{
    ViewBag.Title = "Help";
}

<div style="margin-top: 6rem;"></div>
<div class="container">

    <div class="row">
        <div class="col-md-offset-6">
            <h1>Help</h1>
        </div>
    </div>
    <hr />
    @*<div class="help-nav">
        <ul>
            <li><a href="#reg">Register</a></li>
            <li><a href="#log">Verify Email</a></li>
            <li><a href="#">Update Profile</a></li>
            <li><a href="#">Navigate</a></li>
            <li><a href="#">Choose your first course</a></li>
            <li><a href="#">Add your social links</a></li>
            <li class="">
                <a href="#"> <span class="caret"></span>  </a>
                <ul>
                    <li><a href="#">Create tutorial</a></li>
                    <li><a href="#">Update tutorial</a></li>
                    <li><a href="#">Delete tutorial</a></li>
                    <li><a href="#">Manage comments</a></li>
                    <li><a href="#">content</a></li>
                    <li><a href="#">content</a></li>
                </ul>
            </li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Like and Commment</a></li>
            <li><a href="#">Report Problems</a></li>
            <li><a href="#">Give Feedback</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </div>
    <div class="content-left">
        <div id="reg">hello</div>
        <div id="log">topollo</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>*@
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#reg" role="tab" aria-controls="pills-home" aria-selected="true">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#verify" role="tab" aria-controls="pills-profile" aria-selected="false">Verify Email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#update" role="tab" aria-controls="pills-contact" aria-selected="false">Update Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Navigate" role="tab" aria-controls="pills-home" aria-selected="false">Navigate</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#addSocial" role="tab" aria-controls="pills-contact" aria-selected="false">Add your social links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Create" role="tab" aria-controls="pills-home" aria-selected="false">Create first tutorial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#log" role="tab" aria-controls="pills-profile" aria-selected="false">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#Like" role="tab" aria-controls="pills-contact" aria-selected="false">Like and Commment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#feed" role="tab" aria-controls="pills-contact" aria-selected="false">Give Feedback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#search" role="tab" aria-controls="pills-contact" aria-selected="false">Search</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="reg" role="tabpanel" aria-labelledby="pills-home-tab">

        </div>
        <div class="tab-pane fade" id="verify" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        <div class="tab-pane fade show active" id="navigate" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="addSocial" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="Create" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="Like" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="feed" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>

    <div style="margin-bottom: 5rem;"></div>

</div>
  